@model ITLand.Web.Features.Start.StartPageViewModel

<h1 @Html.EditAttributes(m => m.Heading)>
    @Model.Heading
</h1>
<p>@Model.Preamble</p>
<p>
    @Html.PropertyFor(m => m.MainBody)
</p>
<div>@Html.PropertyFor(m => m.MainContentArea)</div>